* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.nav {
    height: 95px;
    border-bottom: 1px solid #e2e3ef;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.nav a {
    cursor: pointer;
}

.nav img {
    margin-right: 10px;
}

.menu {
    margin-left: 200px;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu a {
    cursor: pointer;
    text-decoration: none;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #07040c;
}

.menu__reg {
    margin-left: 200px;
}

.mav__enter {
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.header__heading {
    width: 614px;
}

.header__heading h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 69px;
    margin-bottom: 30px;
}

.header__heading p {
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    color: #585967;
    width: 510px;
}

.header__heading span {
    color: #f35a05;
}

.header__pic {
    width: 620px;
    height: 460px;
    background-image: url("../img/general_pic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.btn {
    width: 220px;
    height: 60px;
    background-color: #f35a05;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.header__btn p {
    display: inline-block;
    margin-left: 30px;
    width: 220px;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #808296;
}

.advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

.advantages__item {
    width: 200px;
}

.advantages__item img {
    height: 82px;
    margin-bottom: 20px;
}

.advantages__item h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
}

.advantages__item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #585967;
}

.how {
    text-align: center;
    margin-bottom: 130px;
}

.how h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 15px;
}

.how p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #585967;
    margin-bottom: 50px;
}

.how__video {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.video__item {
    width: 400px;
    position: relative;
}

.number {
    width: 36px;
    height: 36px;
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: -1;
    border: 0;
    border-radius: 50%;
    text-align: center;
    background-color: #f35a05;
}

.now-how {
    width: 91px;
    height: 40px;
    transform: rotate(-30deg);
    text-align: center;
    border: 3px solid #f35a05;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    color: #f35a05;
    position: absolute;
    top: 0;
    left: 300px;
}

.number h4 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    font-style: italic;
    color: #ffffff;
}

.video__item h3 {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    line-height: 27.6px;
    margin-bottom: 15px;
}

.video__item p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #585967;
    margin-bottom: 38px;
}

.video {
    width: 400px;
    height: 230px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px dashed #e2e3ef;
    background: linear-gradient(0deg, rgba(7, 4, 12, 0.4), rgba(7, 4, 12, 0.4));
}

iframe {
    opacity: 0.3;
}

.video-active {
    border: 1px dashed #f35a05;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.15);
    background: linear-gradient(0deg, rgba(7, 4, 12, 0.1), rgba(7, 4, 12, 0.1));
}

.video-active> iframe {
    opacity: 1;
}